body {
  /*margin: 60px;*/
  /*background: #fff;*/
}

/*.theatre {
  display: flex;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin-left: 15%;
}*/

#screen{
  background-color: black;
  text-align: center;
  color: white;
  border-radius: 30px;
}

.avaliable{
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background: #007bff;
}

.sold{
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background: #e87c87;
}

.selected{
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background: #d69894;
}

.cinema-seats {
  /*display: flex;*/
}

.seat {
  cursor: pointer;
  float: left;
}

.seat:hover:before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}
    
/*.seat.active {}*/

.seat.active:before {
  content: ''; 
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 7px;
}


  /*}
}*/


// Left Seats
/*.left {*/
  
.left .cinema-row {
  /*transform: skew(-15deg);*/
  /*margin: 0 6px;*/
}

.left .seat {
  /*display: flex;*/
  width: 80px;
  height: 40px;
  border-radius: 7px;
  background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041,  #F3686A);
  margin-bottom: 10px;
  transform: skew(0deg);
  margin-top: 0px;
  margin-right: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

  /*.left .row-2 {
    transform: skew(-13deg);
  }
  .left .seat {
      transform: skew(18deg);
    }
  

  .left .row-3 {
    transform: skew(-12deg);
  }
  .left .row-3 .seat {
      transform: skew(16deg);
    }
  

  .left .row-4 {
    transform: skew(-11deg);
}
    .left .row-4 .seat {
      transform: skew(15deg);
    }
  

  .left .row-5 {
    transform: skew(-10deg);
}
    .left .row-5 .seat {
      transform: skew(12deg);
    }
  

  .left .row-6 {
    transform: skew(-9deg);
}
    .left .row-6 .seat {
      transform: skew(10deg);
    }
  

  .left .row-7 {
    transform: skew(-7deg);
}
  .left .row-7 .seat {
      transform: skew(8deg);
    }*/
  





/*// Left Seats
.right {
  margin-left: 70px;
  
  .cinema-row {
    transform: skew(7deg);
    margin: 0 6px;
  }

  .seat {
    width: 35px;
    height: 50px;
    border-radius: 7px;
    background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041,  #F3686A);
    margin-bottom: 10px;
    transform: skew(-8deg);
    margin-top: -32px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
  }
  
  .row-2 {
    transform: skew(9deg);

    .seat {
      transform: skew(-10deg);
    }
  }

  .row-3 {
    transform: skew(10deg);

    .seat {
      transform: skew(-12deg);
    }
  }

  .row-4 {
    transform: skew(11deg);

    .seat {
      transform: skew(-15deg);
    }
  }

  .row-5 {
    transform: skew(12deg);

    .seat {
      transform: skew(-16deg);
    }
  }

  .row-6 {
    transform: skew(13deg);

    .seat {
      transform: skew(-18deg);
    }
  }

  .row-7 {
    transform: skew(15deg);

    .seat {
      transform: skew(-20deg);
    }
  } 
}*/