.available {
  width: 70px;
  height: 30px;
  background-color: #007bff;
  color: white;
  float: left;
  border-radius: 2px;
}

.booked {
  width: 70px;
  height: 30px;
  background-color: darkred;
  color: white;
  float: left;
  border-radius: 2px;
}

.confrim {
  width: 70px;
  height: 30px;
  background-color: yellow;
  color: white;
  float: left;
  border-radius: 2px;
}

